.about {
  display: flex;
  flex-direction: column;
  gap: $page-section-spacing;
}

.buttonContainer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  padding: var(--mantine-spacing-md);
}

.aboutFeatureContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: var(--mantine-spacing-md);
}
