.landing {
  display: flex;
  flex-direction: column;
  gap: $page-section-spacing;
  box-sizing: border-box;

  @media (max-width: $mantine-breakpoint-md) {
    width: 100vw;
  }
}

.serviceSummarySection {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-xl);
}

.serviceSummaryHeading {
  gap: var(--mantine-spacing-xl);
}

.serviceSummaryCards {
  gap: var(--mantine-spacing-xl);
}

.serviceSummaryDescription {
  max-width: 70%;
}
