.navbar {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.link {
  display: flex;
  align-items: center;
  gap: var(--mantine-radius-md);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  margin: 0 var(--mantine-radius-md);
  border-radius: var(--mantine-radius-md);
  text-decoration: none;
  transition:
    background-color 0.3s,
    transform 0.3s ease;
}

.link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.linkText {
  font-size: 24px;
  font-weight: 600;
  color: var(--mantine-color-teal-7);
}

.icon {
  width: 30px;
  height: 30px;
}
