.services {
  display: flex;
  flex-direction: column;
  gap: $page-section-spacing;
}

.serviceListingSection {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-xl);
}

.serviceListingHeading {
  gap: var(--mantine-spacing-xl);
}

.serviceListingCards {
  gap: var(--mantine-spacing-xl);
}
