.heroWrapper {
  display: flex;
  flex-direction: row;

  @media (max-width: $mantine-breakpoint-md) {
    flex-direction: column;
  }
}

.heroContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.5rem;
  padding: 2rem;
  max-width: 600px;

  @media (max-width: $mantine-breakpoint-md) {
    flex-direction: column;
    padding: 1rem;
  }
}

.heroContentTextWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-md);
}

.heroText {
  white-space: pre-line;
}
