.featureWrapper {
  border-radius: var(--mantine-spacing-md);
  padding: var(--mantine-spacing-xl);
  gap: var(--mantine-spacing-xl);
  background-color: var(--mantine-color-teal-6);
  flex-direction: 'row-reverse';
}

.content,
.image {
  display: flex;
  place-items: center;
  width: 50%;

  @media (max-width: $mantine-breakpoint-lg) {
    width: 100%;
  }
}
