.card {
  display: flex;
  flex-direction: column;
  padding: var(--mantine-spacing-xl);
  gap: var(--mantine-spacing-xl);
  align-items: center;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.icon {
  width: 36px;
  height: 36px;
}

.topContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--mantine-spacing-xl);
  text-align: center;
}
