.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--mantine-spacing-xl);
}

.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--mantine-spacing-xl);
  padding: var(--mantine-spacing-xl);
  max-width: 800px;
  border: var(--mantine-spacing-md) solid var(--mantine-color-teal-6);
  border-radius: var(--mantine-spacing-md);
  box-sizing: border-box;

  @media (max-width: $mantine-breakpoint-md) {
    padding: var(--mantine-spacing-md);
  }
}

.input {
  width: 100%;
}
