.footer {
  padding-bottom: var(--mantine-spacing-xl);
}

.footerTitle {
  text-align: center;
}

.footerLinks {
  justify-content: space-between;

  @media (max-width: $mantine-breakpoint-md) {
    justify-content: center;
  }
}

.list {
  align-items: center;

  @media (max-width: $mantine-breakpoint-md) {
    padding: 0;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.infoGrid {
  padding: var(--mantine-spacing-xl);
}

.icon {
  width: 24px;
  height: 24px;
}

.divider {
  padding: var(--mantine-spacing-sm);
}
